@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Anonymous Pro', monospace;
    }
    
    body{
        @apply bg-outBodyColor;
    }

    .headerLink {
        color: white;
        font-size: 1.3rem;
        text-decoration: none;
        margin-top: 1em;
        display: inline-block;
        font-weight: bold;
        padding: 0.5em;
        margin-left: -0.5em;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    
    .headerLink:before,
    .headerLink:after {
        position: absolute;
        content: '';
        border-bottom: 3px solid white;
        border-radius: 1em;
        bottom: 0.3em;
        transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    .headerLink:before {
        width: 1em;
        transform-origin: left;
    }
    
    .headerLink:after {
        width: 82%;
        left: 1em;
        transform: translateX(110%);
    }
    
    .headerLink:hover:before {
        transform: scaleX(0.3);
    }
    
    .headerLink:hover:after {
        transform: translateX(0);
    }

    h1{
        @apply text-6xl sm:text-8xl md:text-9xl font-homeTitle text-white drop-shadow-homeTitle ;
    }

    h2{
        @apply text-5xl md:text-7xl font-bold font-title;
    }

    p{
        @apply text-lg font-bold;
    }
}


@layer components{
    .hiddenIcon{
        flex-direction: column;
        justify-content: space-around;
        width: 2rem;
        height: 2rem;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 10;
    }
    
    .hiddenIcon div{
        width: 2rem;
        height: 0.25rem;
        background-color: white;
        border-radius: 10px;
        transition: all 0.3s linear;
        position: relative;
        transform-origin: 1px;
    }

    .hiddenIcon div:first-child {
        transform: rotate(0);
    }
    .hiddenIcon div:nth-child(2) {
        opacity: 1;
        transform: translateX(0)
    }
    .hiddenIcon div:nth-child(3) {
        transform: rotate(0)
    }

    .hiddenIcon-active  div:first-child {
        transform: rotate(45deg) !important;
    }
    .hiddenIcon-active  div:nth-child(2) {
        opacity: 0;
        transform: translateX(20px) !important;
    }
    .hiddenIcon-active  div:nth-child(3) {
        transform: rotate(-45deg) !important
    }

    .hiddenMenu{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        @apply bg-primary;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        min-height: 100vh;
        position: fixed;
        top: 127px;
        right: 0; 
        padding-inline: 6rem;
        z-index: 40;
        display: flex;
    }
    
    .hiddenMenu-active{
        transform: translateX(0) !important;
    }

    .wrapper{
        @apply py-28 text-white min-h-screen w-5/6 max-w-screen-2xl;
    }
}


